@keyframes translateInfinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(0%);
  }
}
@keyframes fadeInOut {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
.ball {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $coloor-layout;
  border-radius: 50%;
  pointer-events: none;
  z-index: 20;
  @media screen and (max-width: 1000px) {
    & {
      display: none;
    }
  }
}
@media screen and (max-width: 1200px) {
  .card__slider {
    position: relative;
    width: 50%;
    padding: 0.2rem;
    background-color: $color-text-light;
  }
  .slider__inner {
    width: 10%;
    background-color: $coloor-layout;
    padding: 0.3rem;
  }
}
